<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="obj1" class="kr.hs.study.beans.TestBean1" lazy-init="true" scope="prototype"/>
	
	
	
	<!-- constructor DI -->
	<!-- <bean id="obj2" class="kr.hs.study.beans.TestBean1">
		<constructor-arg value="10" index="0"/>
		<constructor-arg value="11.11" index="1" type="double"/>
		<constructor-arg value="NCSDB" index="2" type="java.lang.String"/>
		<constructor-arg ref="d1" index="3"/>         객체 주입
	</bean> -->
	
	<!-- Setter DI -->
	<!--  <bean id="obj3" class="kr.hs.study.beans.TestBean1">
		<property name="a" value="20"/>
		<property name="b" value="22.22"/>
		<property name="c" value="spring2"/>
		<property name="d1" ref="d1"/>     객체 주입
	</bean> -->
	
	<!-- DataBean1 객체 -->
	<bean id="d1" class="kr.hs.study.beans.DataBean1"/>
	<!-- <bean id="d2" class="kr.hs.study.beans.DataBean1"/>   동일한 타입이 2개 존-->
	
	<!-- byName -->
	<bean id="obj4" class="kr.hs.study.beans.TestBean1" autowire="byName" />
	<!-- private DataBean1 d1에서 d1과 동일한 이름의 bean 객체 할당 -->
	 
	 <!-- byType: 멤버변수의 타입(클래스 이름) -->
	 <bean id="obj5" class="kr.hs.study.beans.TestBean1" autowire="byType"/>
	
	<!--  constructor -->
	 <bean id="obj6" class="kr.hs.study.beans.TestBean1" autowire="constructor"/>
	 
	 
	 <bean id="obj7" class="kr.hs.study.beans.TestBean1" autowire="byType">
	 	<constructor-arg value="10" index="0"/>
	 	<constructor-arg value="10.10" index="1"/>
	 	<constructor-arg value="spring3" index="2"/>
	 </bean>
</beans>


